* {box-sizing: border-box;
}


body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

.main-header {
  width: 100%;
  background: #2ddf5c;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-header>div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 36px;
  display: inline-block;
  height: 22px;
}

.main-header__brand img {
  height: 100%;
}

/* main navigation*/
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 120px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  padding: 3px 0px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 3px solid white;
}

.main-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

/* end navigation */

/* main footer */
.main-footer {
  background: #000000;
  color: #ffffff;
  padding: 32px;
  margin-top: 48px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  color: #ffffff;
  text-decoration: none;
}

.main-footer__link a:hover, .main-footer__link:hover {
  color: #cccccc;
}
/* end main footer */

.button {
  background: #0e4f1f;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  padding: 15px 40px;
  font: inherit;
  font-weight: bold;
  transition: background .5s;
}

.button:hover, .button:active {
  background: #082b11;
  color: #ffffff;
  cursor: pointer;
}

.button:focus {outline: none;}
